.custom-tabs .nav-link {
  width: 100%;
  text-align: center;
}

/* Custom background color for tabs */
.custom-tabs .nav-link {
  background-color:  #9c9797; /* Light blue color */
  color: #fff; /* White text color */
}

/* Active tab background color */
.custom-tabs .nav-link.active {
  background-color: rgb(218, 109, 70); /* Darker blue color */
  color: white;
}
