.custom-tabs .nav-link {
  width: 100%;
  text-align: center;
}

/* Custom background color for tabs */
.custom-tabs .nav-link {
  background-color: #ED6436; /* Light blue color */
  color: #fff; /* White text color */
}

/* Active tab background color */
.custom-tabs .nav-link.active {
  background-color: #ffffff; /* Darker blue color */
}
