.pet_service_card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 8px rgba(249, 90, 17, 0.2);
  overflow: hidden;
  max-width: 600px;
  height: 300px;

  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}

.pet_service_card:hover {
  transform: scale(1.05);
}

.pet_service_card-content {
  display: flex;
}

.pet_service_card-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.text-content {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.pet_service_card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pet_service_card-details {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  text-align: justify;
}

.pet_service_card-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pet_service_card-button:hover {
  background-color: #2980b9;
}

@media only screen and (max-width: 600px) {
  .pet_service_card {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 20px;
  }

  .pet_service_card-content {
    flex-direction: column;
  }

  .pet_service_card-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0;
    margin-bottom: 10px;
  }

  .text-content {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}
