.service_card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 8px rgba(249, 90, 17, 0.2);
  overflow: hidden;
  width: 500px; /* Set a specific width */
  height: 250px; /* Set a specific height */
  /* margin: 10px; Add some margin for spacing */
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out; /* Added animation */
}

.service_card:hover {
  transform: scale(1.05); /* Added animation effect on hover */
}

.service_card-content {
  display: flex;
}

.service_card-image {
  width: 50%; /* 50% of service_card width */
  height: 100%; /* Full height of service_card */
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.text-content {
  width: 50%; /* 50% of service_card width */
  padding: 20px;
  box-sizing: border-box;
}

.service_card-title {
  font-size: 18px; /* Adjusted font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.service_card-details {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  text-align: justify;
}

.service_card-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.service_card-button:hover {
  background-color: #2980b9;
}


@media only screen and (max-width: 600px) {
  .service_card {
    width: 100%; /* Make the card full width on small screens */
    height: auto; /* Allow the height to adjust based on content */
    flex-direction: column; /* Stack the content vertically */
  }

  .service_card-content {
    flex-direction: column; /* Stack the image and text content vertically */
  }

  .service_card-image {
    width: 100%; /* Make the image full width */
    height: 200px; /* Set a specific height for the image */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0; /* Remove bottom-left border radius */
    margin-bottom: 10px; /* Add some spacing between image and text on small screens */
  }

  .text-content {
    width: 100%; /* Make the text content full width */
    padding: 10px; /* Adjust padding for better spacing on small screens */
    box-sizing: border-box;
  }
}
